%header#homepage
    %div.header-content
        %h1#grand_titre Retrouvez l'envie de voyager
        %p#slogan " Ayez une nouvelle definition du mot comfort "
        %br
        %a#btn-reservez{ :href => "#lists_chambres"} Reservez