<div id="chambre-container" class="col-lg-3 col-12">
    <h4>Chambre #<span id="numero_chambre"></span></h4>
    <hr />
    <div class="field">
        <span>Type de chambre</span><br />
            <select id="type_chambre" class="form-control type_chambre">
            <option value="None">Choississez le type de chambre</option>
            <option value="Simple">Simple</option>
            <option value="Double">Double</option>
            <option value="Executive">Executive</option>
            <option value="Presidentielle">Presidentielle</option>
        </select>
    </div>

    <div class="field">
        <span>Type de vue</span><br />
            <select id="type_vue" class="form-control type_vue">
            <option value="None">Choississez la vue de votre chambre</option>
            <option value="Jungle">Jungle</option>
            <option value="Mer">Mer</option>
        </select>
    </div> 

    <div class="field">
        <span>Numero de chambre</span><br />
        <select class="form-control" name="reservation[list_chambres][]">
        <div id="num_chambre" style="visibility: hidden">
            <%# <% Chambre.where(["type_chambre = ? and vue = ?", "Simple", "Mer"]).find_each do |chambre| %>
            <% Chambre.where(vue: "Mer").find_each do |chambre| %></div>
               <option value="<%= chambre.numero %>"><%= chambre.numero %></option>
            <% end %>
        </select>
    </div>

    <div class="field">
        <span>Prix de la chambre</span><br />
        <!-- <input name="reservation[price]" id="price_reservation" class="form-control"/> -->
        <p id="prix_par_chambre"><span id="price_reservation" class="prix_chambre"></span>  $</p> 
    </div>
</div>


