<div class="field">
    <span>Type de chambre</span><br />
    <select id="type_chambre" class="form-control">
        <option value="None">Choississez le type de chambre</option>
        <option value="Simple">Simple</option>
        <option value="Double">Double</option>
        <option value="Executive">Executive</option>
        <option value="Presidentielle">Presidentielle</option>
    </select>
</div>

<div class="field">
     <span>Type de vue</span><br />
        <select id="type_vue" class="form-control" name="reservation[type_de_vue][]">
        <option value="None">Choississez la vue de votre chambre</option>
        <option value="Jungle">Jungle</option>
        <option value="Mer">Mer</option>
    </select>
</div> 

<div class="field">
    <span>Numero de chambre</span><br />
    <select class="form-control" name="reservation[list_chambres][]">
    <div id="num_chambre" style="visibility: hidden">
        <% Chambre.where(["type_chambre = ? and vue = ?", "Simple", "Jungle"]).find_each do |chambre| %>
    </div>
           <option value="<%= chambre.numero %>"><%= chambre.numero %></option>
        <% end %>
    </select>
</div>

<div class="field">
    <span>Numero de chambre</span><br />
    <input name="reservation[price]" id="price_reservation" class="form-control"/> <p id="dollar_sign"> $</p> 
</div>
<hr style="border: 2px solid #777;" />
<hr style="border: 3px solid #555;" />
