 <%= form_for(@reservation) do |f| %>
    <div class="field">
        <%= f.label :chambre %><br />
        <select name="category_id" class="form-control" name="numero_chambre">
        <% @chambres.each do |chambre| %>
            <% if chambre.type_chambre == 'Presidentielle'%>
               <option value="<%= chambre.id %>"><%= chambre.numero %></option>
            <% end %>
        <% end %>
      </select>
    </div>
<% end %>