<div class="container">
    <h1>Modifier la reservation</h1>

    <%= render 'form' %>

    <%# <%= link_to 'Show', @reservation %>
    <%= link_to 'Back', current_user, class: "btn btn-secondary white" %>
</div>
