<br/>
<br/>
 <div class="container"> 
    <h1>Nouvelle reservation</h1>

    <%= render 'form' %>
    
    <%= link_to 'Back', reservations_path, class: "btn btn-secondary white" %>
</div>
<br/>
<br/>
