=render 'static_pages/header'
%br
%br
%div.container#lists_chambres
    %h1.titre Choisissez parmi nos luxueuses chambres
    %hr
    -if signed_in?
        -if current_user.admin?
            %p=link_to 'Nouvelle chambre', new_chambre_path, {:class => "btn btn-primary white"}
            %hr

    %div.row
        %div.col-12
            %li.filter#jungle=link_to 'Jungle', list_jungle_path, remote: true
            %li.filter#ocean=link_to 'Mer', list_mer_path, remote: true
            %hr
            %li.filter#all=link_to 'Tout', list_all_path, remote: true
            %li.filter#simple=link_to 'Simple', list_simple_path, remote: true
            %li.filter#double=link_to 'Double', list_double_path, remote: true
            %li.filter=link_to 'Executive', list_executive_path, remote: true
            %li.filter=link_to 'Presidentielle', list_presidentielle_path, remote: true
            %hr

        %div#lists_to_show.row
            =render 'list_all'
           