%div.container
  %br
  %br
  %div.row
    %div.col-lg-8.col-12
      =image_tag("#{@chambre.image}", class: "chambre_img_details")

    %div.col-lg-4.col-12
      %p.nom_details_chambre=@chambre.name
      %span.nom_details_chambre_titre Type de chambre: 
      %p.type_details_chambre=@chambre.type_chambre
      %span.nom_details_chambre_titre Vue de la chambre:
      %p.vue_details_chambre=@chambre.vue 
      %span.nom_details_chambre_titre Prix de base la chambre:
      %p.vue_details_chambre=@chambre.price 
      %span.nom_details_chambre_titre Prix de la vue:
      -if @chambre.vue == "Jungle"
        %p.vue_details_chambre=@chambre.vue_jungle_price
      -else
        %p.vue_details_chambre=@chambre.vue_mer_price 
      -if current_user.admin?  
        %span=link_to 'Modifier', edit_chambre_path(@chambre), :class => "btn btn-primary white" 
      %span= link_to 'Nouvelle Reservation', new_reservation_path, class: "btn btn-success white"
      %span=link_to 'Retour', chambres_path, :class => "btn btn-secondary white"
    
