// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#price_reservation{
    width: 75px;
}

#dollar_sign {
    font-size: 20px;
    position: absolute;
    margin-left: 80px;
    margin-top: -30px;
}