// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#price_reservation{
    width: 75px;
}

.dollar_sign {
    font-size: 20px;
    position: absolute;
    margin-left: 80px;
    margin-top: -30px;
}

#chambre-container{
    border: 1px solid rgba(153, 153, 153, 0.336);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 10px 15px -2px rgba(0,0,0,0.3);
    margin: 0 auto 10px auto;
    min-width: 32%;
}

#prix_par_chambre{
    font-size: 20px;
    color: #218838;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #cacaca !important;
}